@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap");

/* 
font-family: 'Righteous', cursive;
font-family: 'Sarala', sans-serif; 
*/

@media all {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  html {
    background: linear-gradient(68.15deg, #2f2325 16.62%, #8e5d52 85.61%);
  }

  body {
    width: 100%;
    background: linear-gradient(68.15deg, #2f2325 16.62%, #8e5d52 85.61%);
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
  }

  header nav {
    display: flex;
    gap: 32px;
  }

  header ul {
    list-style-type: none;
    align-self: center;
  }

  header li {
    padding: 10px;
    text-align: center;
    display: inline-block;
  }

  #menu {
    display: none;
  }

  header img {
    height: 72px;
    object-fit: cover;
  }

  header a {
    font-family: "Sarala", sans-serif;
    color: #fff2e7;
    font-weight: 400;
    font-size: 18px;
  }

  header a:hover {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: #ecd6c4;
    text-decoration: underline;
  }

  .conteudo {
    border-top: 0.4px solid rgba(255, 242, 231, 0.5);
    margin-bottom: 48px;
  }

  .conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .conteudo-principal-escrito-titulo {
    font-family: "Righteous", cursive;
    font-weight: 400;
    font-size: 64px;
    color: #fff2e7;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  }

  .conteudo-principal-escrito-paragrafo {
    font-family: "Sarala", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #ecd6c4;
  }

  .conteudo-principal-escrito-botao {
    background-color: #ecd6c4;
    border-radius: 20px;
    border: none;
    width: 180px;
    height: 60px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    font-family: "Sarala", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2f2325;
  }

  .conteudo-principal-escrito-botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
    transition: 0.2s;
  }

  .conteudo-principal-imagem {
    height: 430px;
  }

  .conteúdo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
  }

  .conteudo-secundario-titulo {
    border-top: 0.4px solid rgb(255, 242, 231, 0.5);
    padding-top: 48px;
    font-family: "Righteous", cursive;
    font-size: 24px;
    font-weight: 400;
    color: #fff2e7;
    margin-bottom: 16px;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
  }

  .conteudo-secundario-paragrafo {
    font-family: "Sarala", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ecd6c4;
  }

  footer {
    border-top: 0.4px solid rgb(255, 242, 231, 0.5);
    padding: 40px;
  }

  footer img {
    height: 48px;
    display: block;
    margin: 0 auto;
  }
}

@media screen and (min-width: 700px) and (max-width: 992px) {
  .conteudo-principal-imagem {
    height: 330px;
  }

  .conteudo-principal-escrito-titulo {
    font-size: 60px;
    align-self: center;
  }

  .conteudo-principal-escrito-paragrafo {
    text-align: center;
    width: 320px;
    font-size: 23px;
  }

  .conteudo-principal-escrito-botao {
    align-self: center;
  }

  .conteudo-secundario-paragrafo {
    width: 350px;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  header {
    flex-wrap: wrap;
    gap: 0px;
    flex-direction: column;
  }

  header nav {
    gap: 22px;
    display: flex;
  }

  #menu {
    margin-top: 20px;
    display: block;
    background-color: #2f2325;
    width: 250px;
    color: #ecd6c4;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    border: 0;
    border-bottom: 0.3px solid #8e5d52a9;
  }

  #menu:hover {
    background-color: #1f1718;
  }

  header ul {
    list-style-type: none;
    background-color: #2f2325;
    width: 250px;
    display: none;
  }

  header li {
    display: block;
    border: 0.3px solid #8e5d52a9;
    padding: 10px;
    text-align: center;
  }

  header li:hover {
    background-color: #1f1718;
  }

  .link-menu {
    font-size: 13px;
    text-align: center;
    align-self: center;
  }

  .conteudo-principal {
    flex-direction: column;
  }

  .conteudo-principal-escrito-titulo {
    padding-top: 30px;
    align-self: center;
    font-size: 52px;
  }

  .conteudo-principal-escrito-paragrafo {
    font-size: 17px;
    text-align: center;
    padding: 0 10px;
    width: 250px;
  }

  .conteudo-principal-escrito-botao {
    align-self: center;
    margin-bottom: 20px;
    width: 150px;
    height: 50px;
    font-size: 18px;
  }

  .primeira-imagem {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(236, 214, 196, 0.53);
    width: 100%;
    text-align: center;
  }

  .primeira-imagem img {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
  }

  .conteudo-principal-imagem {
    height: 290px;
  }

  .conteúdo-secundario {
    gap: 20px;
  }

  .conteudo-secundario-titulo {
    font-size: 22px;
  }

  .conteudo-secundario-paragrafo {
    text-align: center;
    max-width: 230px;
    font-size: 15px;
  }

  footer img {
    height: 35px;
  }
}
